<app-navbar></app-navbar>

<div class="container main-container">

  <div class="row">
    <div class="col-md-4">

      <div *ngIf="selectedMarker">
        <h5>Marker</h5>
        <hr>
        <div class="form-group">
          <label>Title</label>
          <input [(ngModel)]="selectedMarker.title"
                 type="text"
                 class="form-control"
                 placeholder=""
                 name="title">
        </div>

        <div class="form-group">
          <label>Description</label>
          <textarea [(ngModel)]="selectedMarker.desc"
                 type="text"
                 class="form-control"
                 placeholder=""
                 name="desc"
                 rows="5">
          </textarea>
        </div>

        <div class="form-group">
          <label>Can it be dragged?</label>
          <select [(ngModel)]="selectedMarker.draggable"
                 class="form-control"
                 name="draggable">
                 <option [ngValue]="true">Yes</option>
                 <option [ngValue]="false">No</option>
          </select>
        </div>

        <button (click)="_mapService.saveMarkers()"
                type="button" class="btn btn-outline-primary btn-block">
          Save Changes
        </button>

      </div>

    </div>

    <div class="col-md-8">
      <!-- this creates a google map on the page with the given lat/lng from -->
      <!-- the component as the initial center of the map: -->
      <agm-map [zoom]="zoom" [latitude]="lat" [longitude]="lng"
               (mapClick)="clickOnMap($event)">

        <!-- agm-marker should have the following property [title]="marker.title"
             for some reason is not workin in the example.
        -->
        <agm-marker *ngFor="let marker of _mapService.markers; let idx=index"
                    [latitude]="marker.lat"
                    [longitude]="marker.lng"
                    [title]="marker.title"
                    [markerDraggable]="marker.draggable"
                    (markerClick)="clickOnMarker(marker, idx)"
                    (dragEnd)="dragEndMarker(marker, $event)">
          <agm-info-window>
            <strong>{{ marker.title }}</strong>
            <p *ngIf="marker.desc">
              {{ marker.desc }}
            </p>
            <p>
              <a (click)="_mapService.removeMarker(idx)" class="text-danger puntero">Remove marker</a>
            </p>
          </agm-info-window>
        </agm-marker>

      </agm-map>

    </div>
  </div>

</div>
